{
  "extends": [
    "eslint:all",
    "plugin:react/all",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["node_modules/", ".next/"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@api/*",  "api/*"],
        ["@components/*",  "components/*"],
        ["@ducks/*",  "ducks/*"],
        ["@hooks/*",  "hooks/*"],
        ["@redux/*",  "redux/*"],
        ["@typings/*",  "typings/*"],
        ["@utils/*",  "utils/*"]
      ]
    }
  }
}